@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    user-select: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(375deg, #2db3ba, #2ede98);
}
.wrapper{
    perspective: 1000px;

}
.card{
    width: 320px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: 0.6s ease-in-out;
}
.card:hover{
transform: rotateY(180deg);
}

.front-face, .back-face{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.front-face{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.front-face img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.back-face{
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.back-face img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
     background: linear-gradient(375deg, #1cc7d0, #2ede98);
}
.wrapper .back-face .info{
    text-align: center;
}
.back-face .info .title{
    font-size: 30px;
    font-weight: 500;
}
.back-face ul{
    display: flex;
}
.back-face ul a{
    display: block;
    width: 40px;
    height: 40px;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    text-align: center;
    border: 2px solid transparent;
    line-height: 38px;
    margin: 0 5px;
    border-radius: 50%;
    color: #fff;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    transition: all 0.3s ease;
}
.back-face ul a:hover{
    background: none;
    color: #1cc7d0;
    border-color: #1cc7d0;
}
@media (max-width: 375px) {
    .card{
        width: 280px;
        height: 380px;
    }
}